/* Remove Unnecessary Admin Menu Items */
#wp-admin-bar-TS_VCSC_Notification, #wp-admin-bar-masterkey_settings {display:none;}

@import 'partials/margin-padding';
@import 'partials/float-align';
@import 'partials/width-height';
@import 'partials/buttons';


/* CENTER*/
.center-h {
  margin: 0 auto;
  display: block;
  text-align: center;
}
.center-v { /* Add to parent div (below column)*/
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: center;
}
.center-both { /* Add to parent div (below column)*/
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
}



/* TEXT INDENT*/
.indent100 {text-indent: 100px !important;}
.indent80 {text-indent: 80px !important;}
.indent60 {text-indent: 60px !important;}
.indent40 {text-indent: 40px !important;}
.indent20 {text-indent: 20px !important;}
.indent10 {text-indent: 10px !important;}
.indent5 {text-indent: 5px !important;}



.column_offset_border {

}
.column_offset_border:before {
  content: "";
  top:20px;
  left:20px;
  right:20px;
  bottom:20px;
  border: #ffffff 1px solid; 
  position: absolute;  
}


.ease {
  @include transition(all ease-in-out 0.3s);
}
.img-fade-in {
  opacity:0.7; 
  @include transition(all 0.3s);
}
.img-fade-in:hover {
  opacity:1.0;
}
.img-fade-out {
  opacity:1.0; 
  @include transition(all 0.3s);
}
.img-fade-out:hover {
  opacity:0.8;
}
.img-faded {
  opacity:0.3;
}


/*ARROWS*/
.arrow-up { 
  @include arrow_up(50px, #000000); /*Put size and color*/
}
.arrow-down { 
  @include arrow_down(50px, #000000); /*Put size and color*/
}
.arrow-right { 
  @include arrow_right(50px, #000000); /*Put size and color*/
}
.arrow-left { 
  @include arrow_left(50px, #000000); /*Put size and color*/
}


/*BROWSER UPDATE*/
.buorg {
    font-size: 14px!important;
}
.buorg div {
    padding:20px 36px 20px 40px!important;
}
.buorg a {
    color:#E25600;
}
#buorgclose {
    position: absolute;
    right: .5em;
    top:.2em;
    height: 20px;
    width: 12px;
    font-weight: bold;
    font-size:14px;
    padding:0;
}