/*RESPONSIVE STYLES*/

/*Mobile Styles*/
.hide {
	display: none!important;
}

/*Tablet Styles (Portrait) (sm)*/
@media only screen and (min-width: 600px) {
	
}

/*Tablet Styles (Landscape) (md)*/
@media only screen and (min-width: 992px) {
	 
}

/*Desktop Styles (lg)*/
@media only screen and (min-width: 1200px) {
	   
}