/*SVG's - must define width and height of SVG's*/
svg {
  display: block;
  margin:auto;
}
svg.style-svg.footer_svg {
  display: inline;
  float: left;
  margin-right: 5px;
  width: 62px;
  height: 61px;
  fill: rgb( 53, 186, 201 );
}
svg.style-svg.footer_svg:hover {
  fill: rgb(21, 81, 114);
}
.style-svg.logo {
  width: 180px;
  height: 32px;
}
svg.services_svg {
  display: inline;
  float: left;
  margin-right: 5px;
  width: 70px;
  height: auto;
}
svg.contact_svg {
  display: inline;
  float: left;
  margin-right: 20px;
  width: 31px;
  height: auto;
}
svg.tools_svg {
  width: 165px;
  height: 168px;
}
@media only screen and (min-width : 992px){
  svg.services_svg {
    margin-left: 25px;
  } 
}