/*BUTTONS*/
.main_btn button {
  color: #ffffff!important;
  background: #de7291!important;
  font-size: 14px!important;
  text-transform: uppercase!important;
  letter-spacing: 0.1em!important;
  padding: 19px 40px!important;
  font-weight: 400!important;
  font-family: "Open Sans";
  border: none!important;
  @extend .ease;
}
.main_btn button:hover {
  background: #cf5f7f!important;
}