/* FLOAT*/
.fleft {float: left !important;}
.fright {float: right !important;}
.fnone {float: none !important;}

/* TEXT ALIGN*/
.text-left {text-align: left !important;}
.text-right {text-align: right !important;}
.text-center {text-align: center !important;}

/*Tablet Styles (Portrait) (sm)*/
@media only screen and (min-width: 600px) {
  /* FLOAT (sm)*/
  .fleft-sm {float: left !important;}
  .fright-sm {float: right !important;}
  .fnone-sm {float: none !important;}

  /* TEXT ALIGN (sm)*/
  .text-left-sm {text-align: left !important;}
  .text-right-sm {text-align: right !important;}
  .text-center-sm {text-align: center !important;}     
}

/*Tablet Styles (Landscape) (md)*/
@media only screen and (min-width: 992px) {
  /* FLOAT (md)*/
  .fleft-md {float: left !important;}
  .fright-md {float: right !important;}
  .fnone-md {float: none !important;}

  /* TEXT ALIGN (md)*/
  .text-left-md {text-align: left !important;}
  .text-right-md {text-align: right !important;}
  .text-center-md {text-align: center !important;} 
}

/*Desktop Styles (lg)*/
@media only screen and (min-width: 1200px) {
  /* FLOAT (lg)*/
  .fleft-lg {float: left !important;}
  .fright-lg {float: right !important;}
  .fnone-lg {float: none !important;}

  /* TEXT ALIGN (lg)*/
  .text-left-lg {text-align: left !important;}
  .text-right-lg {text-align: right !important;}
  .text-center-lg {text-align: center !important;}   
}