/* Margin All */
.ma100 {margin: 100px !important;}
.ma90 {margin: 90px !important;}
.ma80 {margin: 80px !important;}
.ma70 {margin: 70px !important;}
.ma60 {margin: 60px !important;}
.ma50 {margin: 50px !important;}
.ma45 {margin: 45px !important;}
.ma40 {margin: 40px !important;}
.ma35 {margin: 35px !important;}
.ma30 {margin: 30px !important;}
.ma25 {margin: 25px !important;}
.ma20 {margin: 20px !important;}
.ma15 {margin: 15px !important;}
.ma10 {margin: 10px !important;}
.ma5 {margin: 5px !important;}
.ma0 {margin: 0px !important;}
.ma10p {margin: 10% !important;}
.ma20p {margin: 20% !important;}
.ma30p {margin: 30% !important;}
.ma40p {margin: 40% !important;}
.ma50p {margin: 50% !important;}

/* Margin Top*/
.mt100 {margin-top: 100px !important;}
.mt90 {margin-top: 90px !important;}
.mt80 {margin-top: 80px !important;}
.mt70 {margin-top: 70px !important;}
.mt60 {margin-top: 60px !important;}
.mt50 {margin-top: 50px !important;}
.mt45 {margin-top: 45px !important;}
.mt40 {margin-top: 40px !important;}
.mt35 {margin-top: 35px !important;}
.mt30 {margin-top: 30px !important;}
.mt25 {margin-top: 25px !important;}
.mt20 {margin-top: 20px !important;}
.mt15 {margin-top: 15px !important;}
.mt10 {margin-top: 10px !important;}
.mt9 {margin-top: 9px !important;}
.mt8 {margin-top: 8px !important;}
.mt7 {margin-top: 7px !important;}
.mt6 {margin-top: 6px !important;}
.mt5 {margin-top: 5px !important;}
.mt4 {margin-top: 4px !important;}
.mt3 {margin-top: 3px !important;}
.mt2 {margin-top: 2px !important;}
.mt1 {margin-top: 1px !important;}
.mt0 {margin-top: 0px !important;}
.mt-50 {margin-top: -50px !important;}
.mt-45 {margin-top: -45px !important;}
.mt-40 {margin-top: -40px !important;}
.mt-35 {margin-top: -35px !important;}
.mt-30 {margin-top: -30px !important;}
.mt-25 {margin-top: -25px !important;}
.mt-20 {margin-top: -20px !important;}
.mt-15 {margin-top: -15px !important;}
.mt-10 {margin-top: -10px !important;}
.mt-5 {margin-top: -5px !important;}
.mt10p {margin-top: 10% !important;}
.mt20p {margin-top: 20% !important;}
.mt30p {margin-top: 30% !important;}
.mt40p {margin-top: 40% !important;}
.mt50p {margin-top: 50% !important;}

/* Margin Right*/
.mr100 {margin-right: 100px !important;}
.mr90 {margin-right: 90px !important;}
.mr80 {margin-right: 80px !important;}
.mr70 {margin-right: 70px !important;}
.mr60 {margin-right: 60px !important;}
.mr50 {margin-right: 50px !important;}
.mr45 {margin-right: 45px !important;}
.mr40 {margin-right: 40px !important;}
.mr35 {margin-right: 35px !important;}
.mr30 {margin-right: 30px !important;}
.mr25 {margin-right: 25px !important;}
.mr20 {margin-right: 20px !important;}
.mr15 {margin-right: 15px !important;}
.mr10 {margin-right: 10px !important;}
.mr9 {margin-right: 9px !important;}
.mr8 {margin-right: 8px !important;}
.mr7 {margin-right: 7px !important;}
.mr6 {margin-right: 6px !important;}
.mr5 {margin-right: 5px !important;}
.mr4 {margin-right: 4px !important;}
.mr3 {margin-right: 3px !important;}
.mr2 {margin-right: 2px !important;}
.mr1 {margin-right: 1px !important;}
.mr0 {margin-right: 0px !important;}
.mr-50 {margin-right: -50px !important;}
.mr-45 {margin-right: -45px !important;}
.mr-40 {margin-right: -40px !important;}
.mr-35 {margin-right: -35px !important;}
.mr-30 {margin-right: -30px !important;}
.mr-25 {margin-right: -25px !important;}
.mr-20 {margin-right: -20px !important;}
.mr-15 {margin-right: -15px !important;}
.mr-10 {margin-right: -10px !important;}
.mr-5 {margin-right: -5px !important;}
.mr10p {margin-right: 10% !important;}
.mr20p {margin-right: 20% !important;}
.mr30p {margin-right: 30% !important;}
.mr40p {margin-right: 40% !important;}
.mr50p {margin-right: 50% !important;}

/* Margin Bottom*/
.mb100 {margin-bottom: 100px !important;}
.mb90 {margin-bottom: 90px !important;}
.mb80 {margin-bottom: 80px !important;}
.mb70 {margin-bottom: 70px !important;}
.mb60 {margin-bottom: 60px !important;}
.mb50 {margin-bottom: 50px !important;}
.mb45 {margin-bottom: 45px !important;}
.mb40 {margin-bottom: 40px !important;}
.mb35 {margin-bottom: 35px !important;}
.mb30 {margin-bottom: 30px !important;}
.mb25 {margin-bottom: 25px !important;}
.mb20 {margin-bottom: 20px !important;}
.mb15 {margin-bottom: 15px !important;}
.mb10 {margin-bottom: 10px !important;}
.mb9 {margin-bottom: 9px !important;}
.mb8 {margin-bottom: 8px !important;}
.mb7 {margin-bottom: 7px !important;}
.mb6 {margin-bottom: 6px !important;}
.mb5 {margin-bottom: 5px !important;}
.mb4 {margin-bottom: 4px !important;}
.mb3 {margin-bottom: 3px !important;}
.mb2 {margin-bottom: 2px !important;}
.mb1 {margin-bottom: 1px !important;}
.mb0 {margin-bottom: 0px !important;}
.mb-50 {margin-bottom: -50px !important;}
.mb-45 {margin-bottom: -45px !important;}
.mb-40 {margin-bottom: -40px !important;}
.mb-35 {margin-bottom: -35px !important;}
.mb-30 {margin-bottom: -30px !important;}
.mb-25 {margin-bottom: -25px !important;}
.mb-20 {margin-bottom: -20px !important;}
.mb-15 {margin-bottom: -15px !important;}
.mb-10 {margin-bottom: -10px !important;}
.mb-5 {margin-bottom: -5px !important;}
.mb10p {margin-bottom: 10% !important;}
.mb20p {margin-bottom: 20% !important;}
.mb30p {margin-bottom: 30% !important;}
.mb40p {margin-bottom: 40% !important;}
.mb50p {margin-bottom: 50% !important;}

/* Margin Left*/
.ml100 {margin-left: 100px !important;}
.ml90 {margin-left: 90px !important;}
.ml80 {margin-left: 80px !important;}
.ml70 {margin-left: 70px !important;}
.ml60 {margin-left: 60px !important;}
.ml50 {margin-left: 50px !important;}
.ml45 {margin-left: 45px !important;}
.ml40 {margin-left: 40px !important;}
.ml35 {margin-left: 35px !important;}
.ml30 {margin-left: 30px !important;}
.ml25 {margin-left: 25px !important;}
.ml20 {margin-left: 20px !important;}
.ml15 {margin-left: 15px !important;}
.ml10 {margin-left: 10px !important;}
.ml9 {margin-left: 9px !important;}
.ml8 {margin-left: 8px !important;}
.ml7 {margin-left: 7px !important;}
.ml6 {margin-left: 6px !important;}
.ml5 {margin-left: 5px !important;}
.ml4 {margin-left: 4px !important;}
.ml3 {margin-left: 3px !important;}
.ml2 {margin-left: 2px !important;}
.ml1 {margin-left: 1px !important;}
.ml0 {margin-left: 0px !important;}
.ml-50 {margin-left: -50px !important;}
.ml-45 {margin-left: -45px !important;}
.ml-40 {margin-left: -40px !important;}
.ml-35 {margin-left: -35px !important;}
.ml-30 {margin-left: -30px !important;}
.ml-25 {margin-left: -25px !important;}
.ml-20 {margin-left: -20px !important;}
.ml-15 {margin-left: -15px !important;}
.ml-10 {margin-left: -10px !important;}
.ml-5 {margin-left: -5px !important;}
.ml10p {margin-left: 10% !important;}
.ml20p {margin-left: 20% !important;}
.ml30p {margin-left: 30% !important;}
.ml40p {margin-left: 40% !important;}
.ml50p {margin-left: 50% !important;}



/* Padding All */
.pa100 {padding: 100px !important;}
.pa90 {padding: 90px !important;}
.pa80 {padding: 80px !important;}
.pa70 {padding: 70px !important;}
.pa60 {padding: 60px !important;}
.pa50 {padding: 50px !important;}
.pa45 {padding: 45px !important;}
.pa40 {padding: 40px !important;}
.pa35 {padding: 35px !important;}
.pa30 {padding: 30px !important;}
.pa25 {padding: 25px !important;}
.pa20 {padding: 20px !important;}
.pa15 {padding: 15px !important;}
.pa10 {padding: 10px !important;}
.pa5 {padding: 5px !important;}
.pa0 {padding: 0px !important;}
.pa10p {padding: 10% !important;}
.pa20p {padding: 20% !important;}
.pa30p {padding: 30% !important;}
.pa40p {padding: 40% !important;}
.pa50p {padding: 50% !important;}

/* Padding Top*/
.pt100 {padding-top: 100px !important;}
.pt90 {padding-top: 90px !important;}
.pt80 {padding-top: 80px !important;}
.pt70 {padding-top: 70px !important;}
.pt60 {padding-top: 60px !important;}
.pt50 {padding-top: 50px !important;}
.pt45 {padding-top: 45px !important;}
.pt40 {padding-top: 40px !important;}
.pt35 {padding-top: 35px !important;}
.pt30 {padding-top: 30px !important;}
.pt25 {padding-top: 25px !important;}
.pt20 {padding-top: 20px !important;}
.pt15 {padding-top: 15px !important;}
.pt10 {padding-top: 10px !important;}
.pt9 {padding-top: 9px !important;}
.pt8 {padding-top: 8px !important;}
.pt7 {padding-top: 7px !important;}
.pt6 {padding-top: 6px !important;}
.pt5 {padding-top: 5px !important;}
.pt4 {padding-top: 4px !important;}
.pt3 {padding-top: 3px !important;}
.pt2 {padding-top: 2px !important;}
.pt1 {padding-top: 1px !important;}
.pt0 {padding-top: 0px !important;}
.pt-50 {padding-top: -50px !important;}
.pt-45 {padding-top: -45px !important;}
.pt-40 {padding-top: -40px !important;}
.pt-35 {padding-top: -35px !important;}
.pt-30 {padding-top: -30px !important;}
.pt-25 {padding-top: -25px !important;}
.pt-20 {padding-top: -20px !important;}
.pt-15 {padding-top: -15px !important;}
.pt-10 {padding-top: -10px !important;}
.pt-5 {padding-top: -5px !important;}
.pt10p {padding-top: 10% !important;}
.pt20p {padding-top: 20% !important;}
.pt30p {padding-top: 30% !important;}
.pt40p {padding-top: 40% !important;}
.pt50p {padding-top: 50% !important;}

/* Padding Right*/
.pr100 {padding-right: 100px !important;}
.pr90 {padding-right: 90px !important;}
.pr80 {padding-right: 80px !important;}
.pr70 {padding-right: 70px !important;}
.pr60 {padding-right: 60px !important;}
.pr50 {padding-right: 50px !important;}
.pr45 {padding-right: 45px !important;}
.pr40 {padding-right: 40px !important;}
.pr35 {padding-right: 35px !important;}
.pr30 {padding-right: 30px !important;}
.pr25 {padding-right: 25px !important;}
.pr20 {padding-right: 20px !important;}
.pr15 {padding-right: 15px !important;}
.pr10 {padding-right: 10px !important;}
.pr9 {padding-right: 9px !important;}
.pr8 {padding-right: 8px !important;}
.pr7 {padding-right: 7px !important;}
.pr6 {padding-right: 6px !important;}
.pr5 {padding-right: 5px !important;}
.pr4 {padding-right: 4px !important;}
.pr3 {padding-right: 3px !important;}
.pr2 {padding-right: 2px !important;}
.pr1 {padding-right: 1px !important;}
.pr0 {padding-right: 0px !important;}
.pr-50 {padding-right: -50px !important;}
.pr-45 {padding-right: -45px !important;}
.pr-40 {padding-right: -40px !important;}
.pr-35 {padding-right: -35px !important;}
.pr-30 {padding-right: -30px !important;}
.pr-25 {padding-right: -25px !important;}
.pr-20 {padding-right: -20px !important;}
.pr-15 {padding-right: -15px !important;}
.pr-10 {padding-right: -10px !important;}
.pr-5 {padding-right: -5px !important;}
.pr10p {padding-right: 10% !important;}
.pr20p {padding-right: 20% !important;}
.pr30p {padding-right: 30% !important;}
.pr40p {padding-right: 40% !important;}
.pr50p {padding-right: 50% !important;}

/* Padding Bottom*/
.pb100 {padding-bottom: 100px !important;}
.pb90 {padding-bottom: 90px !important;}
.pb80 {padding-bottom: 80px !important;}
.pb70 {padding-bottom: 70px !important;}
.pb60 {padding-bottom: 60px !important;}
.pb50 {padding-bottom: 50px !important;}
.pb45 {padding-bottom: 45px !important;}
.pb40 {padding-bottom: 40px !important;}
.pb35 {padding-bottom: 35px !important;}
.pb30 {padding-bottom: 30px !important;}
.pb25 {padding-bottom: 25px !important;}
.pb20 {padding-bottom: 20px !important;}
.pb15 {padding-bottom: 15px !important;}
.pb10 {padding-bottom: 10px !important;}
.pb9 {padding-bottom: 9px !important;}
.pb8 {padding-bottom: 8px !important;}
.pb7 {padding-bottom: 7px !important;}
.pb6 {padding-bottom: 6px !important;}
.pb5 {padding-bottom: 5px !important;}
.pb4 {padding-bottom: 4px !important;}
.pb3 {padding-bottom: 3px !important;}
.pb2 {padding-bottom: 2px !important;}
.pb1 {padding-bottom: 1px !important;}
.pb0 {padding-bottom: 0px !important;}
.pb-50 {padding-bottom: -50px !important;}
.pb-45 {padding-bottom: -45px !important;}
.pb-40 {padding-bottom: -40px !important;}
.pb-35 {padding-bottom: -35px !important;}
.pb-30 {padding-bottom: -30px !important;}
.pb-25 {padding-bottom: -25px !important;}
.pb-20 {padding-bottom: -20px !important;}
.pb-15 {padding-bottom: -15px !important;}
.pb-10 {padding-bottom: -10px !important;}
.pb-5 {padding-bottom: -5px !important;}
.pb10p {padding-bottom: 10% !important;}
.pb20p {padding-bottom: 20% !important;}
.pb30p {padding-bottom: 30% !important;}
.pb40p {padding-bottom: 40% !important;}
.pb50p {padding-bottom: 50% !important;}

/* Padding Left*/
.pl100 {padding-left: 100px !important;}
.pl90 {padding-left: 90px !important;}
.pl80 {padding-left: 80px !important;}
.pl70 {padding-left: 70px !important;}
.pl60 {padding-left: 60px !important;}
.pl50 {padding-left: 50px !important;}
.pl45 {padding-left: 45px !important;}
.pl40 {padding-left: 40px !important;}
.pl35 {padding-left: 35px !important;}
.pl30 {padding-left: 30px !important;}
.pl25 {padding-left: 25px !important;}
.pl20 {padding-left: 20px !important;}
.pl15 {padding-left: 15px !important;}
.pl10 {padding-left: 10px !important;}
.pl9 {padding-left: 9px !important;}
.pl8 {padding-left: 8px !important;}
.pl7 {padding-left: 7px !important;}
.pl6 {padding-left: 6px !important;}
.pl5 {padding-left: 5px !important;}
.pl4 {padding-left: 4px !important;}
.pl3 {padding-left: 3px !important;}
.pl2 {padding-left: 2px !important;}
.pl1 {padding-left: 1px !important;}
.pl0 {padding-left: 0px !important;}
.pl-50 {padding-left: -50px !important;}
.pl-45 {padding-left: -45px !important;}
.pl-40 {padding-left: -40px !important;}
.pl-35 {padding-left: -35px !important;}
.pl-30 {padding-left: -30px !important;}
.pl-25 {padding-left: -25px !important;}
.pl-20 {padding-left: -20px !important;}
.pl-15 {padding-left: -15px !important;}
.pl-10 {padding-left: -10px !important;}
.pl-5 {padding-left: -5px !important;}
.pl10p {padding-left: 10% !important;}
.pl20p {padding-left: 20% !important;}
.pl30p {padding-left: 30% !important;}
.pl40p {padding-left: 40% !important;}
.pl50p {padding-left: 50% !important;}


/*Tablet Styles (Portrait) (sm) */
@media only screen and (min-width: 600px) {
	/* Margin All (sm) */
	.ma100-sm {margin: 100px !important;}
	.ma90-sm {margin: 90px !important;}
	.ma80-sm {margin: 80px !important;}
	.ma70-sm {margin: 70px !important;}
	.ma60-sm {margin: 60px !important;}
	.ma50-sm {margin: 50px !important;}
	.ma45-sm {margin: 45px !important;}
	.ma40-sm {margin: 40px !important;}
	.ma35-sm {margin: 35px !important;}
	.ma30-sm {margin: 30px !important;}
	.ma25-sm {margin: 25px !important;}
	.ma20-sm {margin: 20px !important;}
	.ma0-sm {margin: 0px !important;}
	.ma10p-sm {margin: 10% !important;}
	.ma20p-sm {margin: 20% !important;}
	.ma30p-sm {margin: 30% !important;}
	.ma40p-sm {margin: 40% !important;}
	.ma50p-sm {margin: 50% !important;}

	/* Margin Top (sm)*/
	.mt100-sm {margin-top: 100px !important;}
	.mt90-sm {margin-top: 90px !important;}
	.mt80-sm {margin-top: 80px !important;}
	.mt70-sm {margin-top: 70px !important;}
	.mt60-sm {margin-top: 60px !important;}
	.mt50-sm {margin-top: 50px !important;}
	.mt45-sm {margin-top: 45px !important;}
	.mt40-sm {margin-top: 40px !important;}
	.mt35-sm {margin-top: 35px !important;}
	.mt30-sm {margin-top: 30px !important;}
	.mt25-sm {margin-top: 25px !important;}
	.mt20-sm {margin-top: 20px !important;}
	.mt0-sm {margin-top: 0px !important;}
	.mt-50-sm {margin-top: -50px !important;}
	.mt-45-sm {margin-top: -45px !important;}
	.mt-40-sm {margin-top: -40px !important;}
	.mt-35-sm {margin-top: -35px !important;}
	.mt-30-sm {margin-top: -30px !important;}
	.mt-25-sm {margin-top: -25px !important;}
	.mt-20-sm {margin-top: -20px !important;}
	.mt10p-sm {margin-top: 10% !important;}
	.mt20p-sm {margin-top: 20% !important;}
	.mt30p-sm {margin-top: 30% !important;}
	.mt40p-sm {margin-top: 40% !important;}
	.mt50p-sm {margin-top: 50% !important;}

	/* Margin Right (sm)*/
	.mr100-sm {margin-right: 100px !important;}
	.mr90-sm {margin-right: 90px !important;}
	.mr80-sm {margin-right: 80px !important;}
	.mr70-sm {margin-right: 70px !important;}
	.mr60-sm {margin-right: 60px !important;}
	.mr50-sm {margin-right: 50px !important;}
	.mr45-sm {margin-right: 45px !important;}
	.mr40-sm {margin-right: 40px !important;}
	.mr35-sm {margin-right: 35px !important;}
	.mr30-sm {margin-right: 30px !important;}
	.mr25-sm {margin-right: 25px !important;}
	.mr20-sm {margin-right: 20px !important;}
	.mr0-sm {margin-right: 0px !important;}
	.mr-50-sm {margin-right: -50px !important;}
	.mr-45-sm {margin-right: -45px !important;}
	.mr-40-sm {margin-right: -40px !important;}
	.mr-35-sm {margin-right: -35px !important;}
	.mr-30-sm {margin-right: -30px !important;}
	.mr-25-sm {margin-right: -25px !important;}
	.mr-20-sm {margin-right: -20px !important;}
	.mr10p-sm {margin-right: 10% !important;}
	.mr20p-sm {margin-right: 20% !important;}
	.mr30p-sm {margin-right: 30% !important;}
	.mr40p-sm {margin-right: 40% !important;}
	.mr50p-sm {margin-right: 50% !important;}

	/* Margin Bottom (sm)*/
	.mb100-sm {margin-bottom: 100px !important;}
	.mb90-sm {margin-bottom: 90px !important;}
	.mb80-sm {margin-bottom: 80px !important;}
	.mb70-sm {margin-bottom: 70px !important;}
	.mb60-sm {margin-bottom: 60px !important;}
	.mb50-sm {margin-bottom: 50px !important;}
	.mb45-sm {margin-bottom: 45px !important;}
	.mb40-sm {margin-bottom: 40px !important;}
	.mb35-sm {margin-bottom: 35px !important;}
	.mb30-sm {margin-bottom: 30px !important;}
	.mb25-sm {margin-bottom: 25px !important;}
	.mb20-sm {margin-bottom: 20px !important;}
	.mb0-sm {margin-bottom: 0px !important;}
	.mb-50-sm {margin-bottom: -50px !important;}
	.mb-45-sm {margin-bottom: -45px !important;}
	.mb-40-sm {margin-bottom: -40px !important;}
	.mb-35-sm {margin-bottom: -35px !important;}
	.mb-30-sm {margin-bottom: -30px !important;}
	.mb-25-sm {margin-bottom: -25px !important;}
	.mb-20-sm {margin-bottom: -20px !important;}
	.mb10p-sm {margin-bottom: 10% !important;}
	.mb20p-sm {margin-bottom: 20% !important;}
	.mb30p-sm {margin-bottom: 30% !important;}
	.mb40p-sm {margin-bottom: 40% !important;}
	.mb50p-sm {margin-bottom: 50% !important;}

	/* Margin Left (sm)*/
	.ml100-sm {margin-left: 100px !important;}
	.ml90-sm {margin-left: 90px !important;}
	.ml80-sm {margin-left: 80px !important;}
	.ml70-sm {margin-left: 70px !important;}
	.ml60-sm {margin-left: 60px !important;}
	.ml50-sm {margin-left: 50px !important;}
	.ml45-sm {margin-left: 45px !important;}
	.ml40-sm {margin-left: 40px !important;}
	.ml35-sm {margin-left: 35px !important;}
	.ml30-sm {margin-left: 30px !important;}
	.ml25-sm {margin-left: 25px !important;}
	.ml20-sm {margin-left: 20px !important;}
	.ml0-sm {margin-left: 0px !important;}
	.ml-50-sm {margin-left: -50px !important;}
	.ml-45-sm {margin-left: -45px !important;}
	.ml-40-sm {margin-left: -40px !important;}
	.ml-35-sm {margin-left: -35px !important;}
	.ml-30-sm {margin-left: -30px !important;}
	.ml-25-sm {margin-left: -25px !important;}
	.ml-20-sm {margin-left: -20px !important;}
	.ml10p-sm {margin-left: 10% !important;}
	.ml20p-sm {margin-left: 20% !important;}
	.ml30p-sm {margin-left: 30% !important;}
	.ml40p-sm {margin-left: 40% !important;}
	.ml50p-sm {margin-left: 50% !important;}


	/* Padding All (sm)*/
	.pa100-sm {padding: 100px !important;}
	.pa90-sm {padding: 90px !important;}
	.pa80-sm {padding: 80px !important;}
	.pa70-sm {padding: 70px !important;}
	.pa60-sm {padding: 60px !important;}
	.pa50-sm {padding: 50px !important;}
	.pa45-sm {padding: 45px !important;}
	.pa40-sm {padding: 40px !important;}
	.pa35-sm {padding: 35px !important;}
	.pa30-sm {padding: 30px !important;}
	.pa25-sm {padding: 25px !important;}
	.pa20-sm {padding: 20px !important;}
	.pa0-sm {padding: 0px !important;}
	.pa10p-sm {padding: 10% !important;}
	.pa20p-sm {padding: 20% !important;}
	.pa30p-sm {padding: 30% !important;}
	.pa40p-sm {padding: 40% !important;}
	.pa50p-sm {padding: 50% !important;}

	/* Padding Top (sm)*/
	.pt100-sm {padding-top: 100px !important;}
	.pt90-sm {padding-top: 90px !important;}
	.pt80-sm {padding-top: 80px !important;}
	.pt70-sm {padding-top: 70px !important;}
	.pt60-sm {padding-top: 60px !important;}
	.pt50-sm {padding-top: 50px !important;}
	.pt45-sm {padding-top: 45px !important;}
	.pt40-sm {padding-top: 40px !important;}
	.pt35-sm {padding-top: 35px !important;}
	.pt30-sm {padding-top: 30px !important;}
	.pt25-sm {padding-top: 25px !important;}
	.pt20-sm {padding-top: 20px !important;}
	.pt0-sm {padding-top: 0px !important;}
	.pt-50-sm {padding-top: -50px !important;}
	.pt-45-sm {padding-top: -45px !important;}
	.pt-40-sm {padding-top: -40px !important;}
	.pt-35-sm {padding-top: -35px !important;}
	.pt-30-sm {padding-top: -30px !important;}
	.pt-25-sm {padding-top: -25px !important;}
	.pt-20-sm {padding-top: -20px !important;}
	.pt10p-sm {padding-top: 10% !important;}
	.pt20p-sm {padding-top: 20% !important;}
	.pt30p-sm {padding-top: 30% !important;}
	.pt40p-sm {padding-top: 40% !important;}
	.pt50p-sm {padding-top: 50% !important;}

	/* Padding Right (sm)*/
	.pr100-sm {padding-right: 100px !important;}
	.pr90-sm {padding-right: 90px !important;}
	.pr80-sm {padding-right: 80px !important;}
	.pr70-sm {padding-right: 70px !important;}
	.pr60-sm {padding-right: 60px !important;}
	.pr50-sm {padding-right: 50px !important;}
	.pr45-sm {padding-right: 45px !important;}
	.pr40-sm {padding-right: 40px !important;}
	.pr35-sm {padding-right: 35px !important;}
	.pr30-sm {padding-right: 30px !important;}
	.pr25-sm {padding-right: 25px !important;}
	.pr20-sm {padding-right: 20px !important;}
	.pr0-sm {padding-right: 0px !important;}
	.pr-50-sm {padding-right: -50px !important;}
	.pr-45-sm {padding-right: -45px !important;}
	.pr-40-sm {padding-right: -40px !important;}
	.pr-35-sm {padding-right: -35px !important;}
	.pr-30-sm {padding-right: -30px !important;}
	.pr-25-sm {padding-right: -25px !important;}
	.pr-20-sm {padding-right: -20px !important;}
	.pr10p-sm {padding-right: 10% !important;}
	.pr20p-sm {padding-right: 20% !important;}
	.pr30p-sm {padding-right: 30% !important;}
	.pr40p-sm {padding-right: 40% !important;}
	.pr50p-sm {padding-right: 50% !important;}

	/* Padding Bottom (sm)*/
	.pb100-sm {padding-bottom: 100px !important;}
	.pb90-sm {padding-bottom: 90px !important;}
	.pb80-sm {padding-bottom: 80px !important;}
	.pb70-sm {padding-bottom: 70px !important;}
	.pb60-sm {padding-bottom: 60px !important;}
	.pb50-sm {padding-bottom: 50px !important;}
	.pb45-sm {padding-bottom: 45px !important;}
	.pb40-sm {padding-bottom: 40px !important;}
	.pb35-sm {padding-bottom: 35px !important;}
	.pb30-sm {padding-bottom: 30px !important;}
	.pb25-sm {padding-bottom: 25px !important;}
	.pb20-sm {padding-bottom: 20px !important;}
	.pb0-sm {padding-bottom: 0px !important;}
	.pb-50-sm {padding-bottom: -50px !important;}
	.pb-45-sm {padding-bottom: -45px !important;}
	.pb-40-sm {padding-bottom: -40px !important;}
	.pb-35-sm {padding-bottom: -35px !important;}
	.pb-30-sm {padding-bottom: -30px !important;}
	.pb-25-sm {padding-bottom: -25px !important;}
	.pb-20-sm {padding-bottom: -20px !important;}
	.pb10p-sm {padding-bottom: 10% !important;}
	.pb20p-sm {padding-bottom: 20% !important;}
	.pb30p-sm {padding-bottom: 30% !important;}
	.pb40p-sm {padding-bottom: 40% !important;}
	.pb50p-sm {padding-bottom: 50% !important;}

	/* Padding Left (sm)*/
	.pl100-sm {padding-left: 100px !important;}
	.pl90-sm {padding-left: 90px !important;}
	.pl80-sm {padding-left: 80px !important;}
	.pl70-sm {padding-left: 70px !important;}
	.pl60-sm {padding-left: 60px !important;}
	.pl50-sm {padding-left: 50px !important;}
	.pl45-sm {padding-left: 45px !important;}
	.pl40-sm {padding-left: 40px !important;}
	.pl35-sm {padding-left: 35px !important;}
	.pl30-sm {padding-left: 30px !important;}
	.pl25-sm {padding-left: 25px !important;}
	.pl20-sm {padding-left: 20px !important;}
	.pl0-sm {padding-left: 0px !important;}
	.pl-50-sm {padding-left: -50px !important;}
	.pl-45-sm {padding-left: -45px !important;}
	.pl-40-sm {padding-left: -40px !important;}
	.pl-35-sm {padding-left: -35px !important;}
	.pl-30-sm {padding-left: -30px !important;}
	.pl-25-sm {padding-left: -25px !important;}
	.pl-20-sm {padding-left: -20px !important;}
	.pl10p-sm {padding-left: 10% !important;}
	.pl20p-sm {padding-left: 20% !important;}
	.pl30p-sm {padding-left: 30% !important;}
	.pl40p-sm {padding-left: 40% !important;}
	.pl50p-sm {padding-left: 50% !important;}
}

/*Tablet Styles (Landscape) (md)*/
@media only screen and (min-width: 992px) {
	/* Margin All (md) */
	.ma100-md {margin: 100px !important;}
	.ma90-md {margin: 90px !important;}
	.ma80-md {margin: 80px !important;}
	.ma70-md {margin: 70px !important;}
	.ma60-md {margin: 60px !important;}
	.ma50-md {margin: 50px !important;}
	.ma45-md {margin: 45px !important;}
	.ma40-md {margin: 40px !important;}
	.ma35-md {margin: 35px !important;}
	.ma30-md {margin: 30px !important;}
	.ma25-md {margin: 25px !important;}
	.ma20-md {margin: 20px !important;}
	.ma0-md {margin: 0px !important;}
	.ma10p-md {margin: 10% !important;}
	.ma20p-md {margin: 20% !important;}
	.ma30p-md {margin: 30% !important;}
	.ma40p-md {margin: 40% !important;}
	.ma50p-md {margin: 50% !important;}

	/* Margin Top (md)*/
	.mt100-md {margin-top: 100px !important;}
	.mt90-md {margin-top: 90px !important;}
	.mt80-md {margin-top: 80px !important;}
	.mt70-md {margin-top: 70px !important;}
	.mt60-md {margin-top: 60px !important;}
	.mt50-md {margin-top: 50px !important;}
	.mt45-md {margin-top: 45px !important;}
	.mt40-md {margin-top: 40px !important;}
	.mt35-md {margin-top: 35px !important;}
	.mt30-md {margin-top: 30px !important;}
	.mt25-md {margin-top: 25px !important;}
	.mt20-md {margin-top: 20px !important;}
	.mt0-md {margin-top: 0px !important;}
	.mt-50-md {margin-top: -50px !important;}
	.mt-45-md {margin-top: -45px !important;}
	.mt-40-md {margin-top: -40px !important;}
	.mt-35-md {margin-top: -35px !important;}
	.mt-30-md {margin-top: -30px !important;}
	.mt-25-md {margin-top: -25px !important;}
	.mt-20-md {margin-top: -20px !important;}
	.mt10p-md {margin-top: 10% !important;}
	.mt20p-md {margin-top: 20% !important;}
	.mt30p-md {margin-top: 30% !important;}
	.mt40p-md {margin-top: 40% !important;}
	.mt50p-md {margin-top: 50% !important;}

	/* Margin Right (md)*/
	.mr100-md {margin-right: 100px !important;}
	.mr90-md {margin-right: 90px !important;}
	.mr80-md {margin-right: 80px !important;}
	.mr70-md {margin-right: 70px !important;}
	.mr60-md {margin-right: 60px !important;}
	.mr50-md {margin-right: 50px !important;}
	.mr45-md {margin-right: 45px !important;}
	.mr40-md {margin-right: 40px !important;}
	.mr35-md {margin-right: 35px !important;}
	.mr30-md {margin-right: 30px !important;}
	.mr25-md {margin-right: 25px !important;}
	.mr20-md {margin-right: 20px !important;}
	.mr0-md {margin-right: 0px !important;}
	.mr-50-md {margin-right: -50px !important;}
	.mr-45-md {margin-right: -45px !important;}
	.mr-40-md {margin-right: -40px !important;}
	.mr-35-md {margin-right: -35px !important;}
	.mr-30-md {margin-right: -30px !important;}
	.mr-25-md {margin-right: -25px !important;}
	.mr-20-md {margin-right: -20px !important;}
	.mr10p-md {margin-right: 10% !important;}
	.mr20p-md {margin-right: 20% !important;}
	.mr30p-md {margin-right: 30% !important;}
	.mr40p-md {margin-right: 40% !important;}
	.mr50p-md {margin-right: 50% !important;}

	/* Margin Bottom (md)*/
	.mb100-md {margin-bottom: 100px !important;}
	.mb90-md {margin-bottom: 90px !important;}
	.mb80-md {margin-bottom: 80px !important;}
	.mb70-md {margin-bottom: 70px !important;}
	.mb60-md {margin-bottom: 60px !important;}
	.mb50-md {margin-bottom: 50px !important;}
	.mb45-md {margin-bottom: 45px !important;}
	.mb40-md {margin-bottom: 40px !important;}
	.mb35-md {margin-bottom: 35px !important;}
	.mb30-md {margin-bottom: 30px !important;}
	.mb25-md {margin-bottom: 25px !important;}
	.mb20-md {margin-bottom: 20px !important;}
	.mb0-md {margin-bottom: 0px !important;}
	.mb-50-md {margin-bottom: -50px !important;}
	.mb-45-md {margin-bottom: -45px !important;}
	.mb-40-md {margin-bottom: -40px !important;}
	.mb-35-md {margin-bottom: -35px !important;}
	.mb-30-md {margin-bottom: -30px !important;}
	.mb-25-md {margin-bottom: -25px !important;}
	.mb-20-md {margin-bottom: -20px !important;}
	.mb10p-md {margin-bottom: 10% !important;}
	.mb20p-md {margin-bottom: 20% !important;}
	.mb30p-md {margin-bottom: 30% !important;}
	.mb40p-md {margin-bottom: 40% !important;}
	.mb50p-md {margin-bottom: 50% !important;}

	/* Margin Left (md)*/
	.ml100-md {margin-left: 100px !important;}
	.ml90-md {margin-left: 90px !important;}
	.ml80-md {margin-left: 80px !important;}
	.ml70-md {margin-left: 70px !important;}
	.ml60-md {margin-left: 60px !important;}
	.ml50-md {margin-left: 50px !important;}
	.ml45-md {margin-left: 45px !important;}
	.ml40-md {margin-left: 40px !important;}
	.ml35-md {margin-left: 35px !important;}
	.ml30-md {margin-left: 30px !important;}
	.ml25-md {margin-left: 25px !important;}
	.ml20-md {margin-left: 20px !important;}
	.ml0-md {margin-left: 0px !important;}
	.ml-50-md {margin-left: -50px !important;}
	.ml-45-md {margin-left: -45px !important;}
	.ml-40-md {margin-left: -40px !important;}
	.ml-35-md {margin-left: -35px !important;}
	.ml-30-md {margin-left: -30px !important;}
	.ml-25-md {margin-left: -25px !important;}
	.ml-20-md {margin-left: -20px !important;}
	.ml10p-md {margin-left: 10% !important;}
	.ml20p-md {margin-left: 20% !important;}
	.ml30p-md {margin-left: 30% !important;}
	.ml40p-md {margin-left: 40% !important;}
	.ml50p-md {margin-left: 50% !important;}


	/* Padding All (md)*/
	.pa100-md {padding: 100px !important;}
	.pa90-md {padding: 90px !important;}
	.pa80-md {padding: 80px !important;}
	.pa70-md {padding: 70px !important;}
	.pa60-md {padding: 60px !important;}
	.pa50-md {padding: 50px !important;}
	.pa45-md {padding: 45px !important;}
	.pa40-md {padding: 40px !important;}
	.pa35-md {padding: 35px !important;}
	.pa30-md {padding: 30px !important;}
	.pa25-md {padding: 25px !important;}
	.pa20-md {padding: 20px !important;}
	.pa0-md {padding: 0px !important;}
	.pa10p-md {padding: 10% !important;}
	.pa20p-md {padding: 20% !important;}
	.pa30p-md {padding: 30% !important;}
	.pa40p-md {padding: 40% !important;}
	.pa50p-md {padding: 50% !important;}

	/* Padding Top (md)*/
	.pt100-md {padding-top: 100px !important;}
	.pt90-md {padding-top: 90px !important;}
	.pt80-md {padding-top: 80px !important;}
	.pt70-md {padding-top: 70px !important;}
	.pt60-md {padding-top: 60px !important;}
	.pt50-md {padding-top: 50px !important;}
	.pt45-md {padding-top: 45px !important;}
	.pt40-md {padding-top: 40px !important;}
	.pt35-md {padding-top: 35px !important;}
	.pt30-md {padding-top: 30px !important;}
	.pt25-md {padding-top: 25px !important;}
	.pt20-md {padding-top: 20px !important;}
	.pt0-md {padding-top: 0px !important;}
	.pt-50-md {padding-top: -50px !important;}
	.pt-45-md {padding-top: -45px !important;}
	.pt-40-md {padding-top: -40px !important;}
	.pt-35-md {padding-top: -35px !important;}
	.pt-30-md {padding-top: -30px !important;}
	.pt-25-md {padding-top: -25px !important;}
	.pt-20-md {padding-top: -20px !important;}
	.pt10p-md {padding-top: 10% !important;}
	.pt20p-md {padding-top: 20% !important;}
	.pt30p-md {padding-top: 30% !important;}
	.pt40p-md {padding-top: 40% !important;}
	.pt50p-md {padding-top: 50% !important;}

	/* Padding Right (md)*/
	.pr100-md {padding-right: 100px !important;}
	.pr90-md {padding-right: 90px !important;}
	.pr80-md {padding-right: 80px !important;}
	.pr70-md {padding-right: 70px !important;}
	.pr60-md {padding-right: 60px !important;}
	.pr50-md {padding-right: 50px !important;}
	.pr45-md {padding-right: 45px !important;}
	.pr40-md {padding-right: 40px !important;}
	.pr35-md {padding-right: 35px !important;}
	.pr30-md {padding-right: 30px !important;}
	.pr25-md {padding-right: 25px !important;}
	.pr20-md {padding-right: 20px !important;}
	.pr0-md {padding-right: 0px !important;}
	.pr-50-md {padding-right: -50px !important;}
	.pr-45-md {padding-right: -45px !important;}
	.pr-40-md {padding-right: -40px !important;}
	.pr-35-md {padding-right: -35px !important;}
	.pr-30-md {padding-right: -30px !important;}
	.pr-25-md {padding-right: -25px !important;}
	.pr-20-md {padding-right: -20px !important;}
	.pr10p-md {padding-right: 10% !important;}
	.pr20p-md {padding-right: 20% !important;}
	.pr30p-md {padding-right: 30% !important;}
	.pr40p-md {padding-right: 40% !important;}
	.pr50p-md {padding-right: 50% !important;}

	/* Padding Bottom (md)*/
	.pb100-md {padding-bottom: 100px !important;}
	.pb90-md {padding-bottom: 90px !important;}
	.pb80-md {padding-bottom: 80px !important;}
	.pb70-md {padding-bottom: 70px !important;}
	.pb60-md {padding-bottom: 60px !important;}
	.pb50-md {padding-bottom: 50px !important;}
	.pb45-md {padding-bottom: 45px !important;}
	.pb40-md {padding-bottom: 40px !important;}
	.pb35-md {padding-bottom: 35px !important;}
	.pb30-md {padding-bottom: 30px !important;}
	.pb25-md {padding-bottom: 25px !important;}
	.pb20-md {padding-bottom: 20px !important;}
	.pb0-md {padding-bottom: 0px !important;}
	.pb-50-md {padding-bottom: -50px !important;}
	.pb-45-md {padding-bottom: -45px !important;}
	.pb-40-md {padding-bottom: -40px !important;}
	.pb-35-md {padding-bottom: -35px !important;}
	.pb-30-md {padding-bottom: -30px !important;}
	.pb-25-md {padding-bottom: -25px !important;}
	.pb-20-md {padding-bottom: -20px !important;}
	.pb10p-md {padding-bottom: 10% !important;}
	.pb20p-md {padding-bottom: 20% !important;}
	.pb30p-md {padding-bottom: 30% !important;}
	.pb40p-md {padding-bottom: 40% !important;}
	.pb50p-md {padding-bottom: 50% !important;}

	/* Padding Left (md)*/
	.pl100-md {padding-left: 100px !important;}
	.pl90-md {padding-left: 90px !important;}
	.pl80-md {padding-left: 80px !important;}
	.pl70-md {padding-left: 70px !important;}
	.pl60-md {padding-left: 60px !important;}
	.pl50-md {padding-left: 50px !important;}
	.pl45-md {padding-left: 45px !important;}
	.pl40-md {padding-left: 40px !important;}
	.pl35-md {padding-left: 35px !important;}
	.pl30-md {padding-left: 30px !important;}
	.pl25-md {padding-left: 25px !important;}
	.pl20-md {padding-left: 20px !important;}
	.pl0-md {padding-left: 0px !important;}
	.pl-50-md {padding-left: -50px !important;}
	.pl-45-md {padding-left: -45px !important;}
	.pl-40-md {padding-left: -40px !important;}
	.pl-35-md {padding-left: -35px !important;}
	.pl-30-md {padding-left: -30px !important;}
	.pl-25-md {padding-left: -25px !important;}
	.pl-20-md {padding-left: -20px !important;}
	.pl10p-md {padding-left: 10% !important;}
	.pl20p-md {padding-left: 20% !important;}
	.pl30p-md {padding-left: 30% !important;}
	.pl40p-md {padding-left: 40% !important;}
	.pl50p-md {padding-left: 50% !important;} 
}

/*Desktop Styles (lg)*/
@media only screen and (min-width: 1200px) {
	/* Margin All (lg) */
	.ma100-lg {margin: 100px !important;}
	.ma90-lg {margin: 90px !important;}
	.ma80-lg {margin: 80px !important;}
	.ma70-lg {margin: 70px !important;}
	.ma60-lg {margin: 60px !important;}
	.ma50-lg {margin: 50px !important;}
	.ma45-lg {margin: 45px !important;}
	.ma40-lg {margin: 40px !important;}
	.ma35-lg {margin: 35px !important;}
	.ma30-lg {margin: 30px !important;}
	.ma25-lg {margin: 25px !important;}
	.ma20-lg {margin: 20px !important;}
	.ma0-lg {margin: 0px !important;}
	.ma10p-lg {margin: 10% !important;}
	.ma20p-lg {margin: 20% !important;}
	.ma30p-lg {margin: 30% !important;}
	.ma40p-lg {margin: 40% !important;}
	.ma50p-lg {margin: 50% !important;}

	/* Margin Top (lg)*/
	.mt100-lg {margin-top: 100px !important;}
	.mt90-lg {margin-top: 90px !important;}
	.mt80-lg {margin-top: 80px !important;}
	.mt70-lg {margin-top: 70px !important;}
	.mt60-lg {margin-top: 60px !important;}
	.mt50-lg {margin-top: 50px !important;}
	.mt45-lg {margin-top: 45px !important;}
	.mt40-lg {margin-top: 40px !important;}
	.mt35-lg {margin-top: 35px !important;}
	.mt30-lg {margin-top: 30px !important;}
	.mt25-lg {margin-top: 25px !important;}
	.mt20-lg {margin-top: 20px !important;}
	.mt0-lg {margin-top: 0px !important;}
	.mt-50-lg {margin-top: -50px !important;}
	.mt-45-lg {margin-top: -45px !important;}
	.mt-40-lg {margin-top: -40px !important;}
	.mt-35-lg {margin-top: -35px !important;}
	.mt-30-lg {margin-top: -30px !important;}
	.mt-25-lg {margin-top: -25px !important;}
	.mt-20-lg {margin-top: -20px !important;}
	.mt10p-lg {margin-top: 10% !important;}
	.mt20p-lg {margin-top: 20% !important;}
	.mt30p-lg {margin-top: 30% !important;}
	.mt40p-lg {margin-top: 40% !important;}
	.mt50p-lg {margin-top: 50% !important;}

	/* Margin Right (lg)*/
	.mr100-lg {margin-right: 100px !important;}
	.mr90-lg {margin-right: 90px !important;}
	.mr80-lg {margin-right: 80px !important;}
	.mr70-lg {margin-right: 70px !important;}
	.mr60-lg {margin-right: 60px !important;}
	.mr50-lg {margin-right: 50px !important;}
	.mr45-lg {margin-right: 45px !important;}
	.mr40-lg {margin-right: 40px !important;}
	.mr35-lg {margin-right: 35px !important;}
	.mr30-lg {margin-right: 30px !important;}
	.mr25-lg {margin-right: 25px !important;}
	.mr20-lg {margin-right: 20px !important;}
	.mr0-lg {margin-right: 0px !important;}
	.mr-50-lg {margin-right: -50px !important;}
	.mr-45-lg {margin-right: -45px !important;}
	.mr-40-lg {margin-right: -40px !important;}
	.mr-35-lg {margin-right: -35px !important;}
	.mr-30-lg {margin-right: -30px !important;}
	.mr-25-lg {margin-right: -25px !important;}
	.mr-20-lg {margin-right: -20px !important;}
	.mr10p-lg {margin-right: 10% !important;}
	.mr20p-lg {margin-right: 20% !important;}
	.mr30p-lg {margin-right: 30% !important;}
	.mr40p-lg {margin-right: 40% !important;}
	.mr50p-lg {margin-right: 50% !important;}

	/* Margin Bottom (lg)*/
	.mb100-lg {margin-bottom: 100px !important;}
	.mb90-lg {margin-bottom: 90px !important;}
	.mb80-lg {margin-bottom: 80px !important;}
	.mb70-lg {margin-bottom: 70px !important;}
	.mb60-lg {margin-bottom: 60px !important;}
	.mb50-lg {margin-bottom: 50px !important;}
	.mb45-lg {margin-bottom: 45px !important;}
	.mb40-lg {margin-bottom: 40px !important;}
	.mb35-lg {margin-bottom: 35px !important;}
	.mb30-lg {margin-bottom: 30px !important;}
	.mb25-lg {margin-bottom: 25px !important;}
	.mb20-lg {margin-bottom: 20px !important;}
	.mb0-lg {margin-bottom: 0px !important;}
	.mb-50-lg {margin-bottom: -50px !important;}
	.mb-45-lg {margin-bottom: -45px !important;}
	.mb-40-lg {margin-bottom: -40px !important;}
	.mb-35-lg {margin-bottom: -35px !important;}
	.mb-30-lg {margin-bottom: -30px !important;}
	.mb-25-lg {margin-bottom: -25px !important;}
	.mb-20-lg {margin-bottom: -20px !important;}
	.mb10p-lg {margin-bottom: 10% !important;}
	.mb20p-lg {margin-bottom: 20% !important;}
	.mb30p-lg {margin-bottom: 30% !important;}
	.mb40p-lg {margin-bottom: 40% !important;}
	.mb50p-lg {margin-bottom: 50% !important;}

	/* Margin Left (lg)*/
	.ml100-lg {margin-left: 100px !important;}
	.ml90-lg {margin-left: 90px !important;}
	.ml80-lg {margin-left: 80px !important;}
	.ml70-lg {margin-left: 70px !important;}
	.ml60-lg {margin-left: 60px !important;}
	.ml50-lg {margin-left: 50px !important;}
	.ml45-lg {margin-left: 45px !important;}
	.ml40-lg {margin-left: 40px !important;}
	.ml35-lg {margin-left: 35px !important;}
	.ml30-lg {margin-left: 30px !important;}
	.ml25-lg {margin-left: 25px !important;}
	.ml20-lg {margin-left: 20px !important;}
	.ml0-lg {margin-left: 0px !important;}
	.ml-50-lg {margin-left: -50px !important;}
	.ml-45-lg {margin-left: -45px !important;}
	.ml-40-lg {margin-left: -40px !important;}
	.ml-35-lg {margin-left: -35px !important;}
	.ml-30-lg {margin-left: -30px !important;}
	.ml-25-lg {margin-left: -25px !important;}
	.ml-20-lg {margin-left: -20px !important;}
	.ml10p-lg {margin-left: 10% !important;}
	.ml20p-lg {margin-left: 20% !important;}
	.ml30p-lg {margin-left: 30% !important;}
	.ml40p-lg {margin-left: 40% !important;}
	.ml50p-lg {margin-left: 50% !important;}


	/* Padding All (lg)*/
	.pa100-lg {padding: 100px !important;}
	.pa90-lg {padding: 90px !important;}
	.pa80-lg {padding: 80px !important;}
	.pa70-lg {padding: 70px !important;}
	.pa60-lg {padding: 60px !important;}
	.pa50-lg {padding: 50px !important;}
	.pa45-lg {padding: 45px !important;}
	.pa40-lg {padding: 40px !important;}
	.pa35-lg {padding: 35px !important;}
	.pa30-lg {padding: 30px !important;}
	.pa25-lg {padding: 25px !important;}
	.pa20-lg {padding: 20px !important;}
	.pa0-lg {padding: 0px !important;}
	.pa10p-lg {padding: 10% !important;}
	.pa20p-lg {padding: 20% !important;}
	.pa30p-lg {padding: 30% !important;}
	.pa40p-lg {padding: 40% !important;}
	.pa50p-lg {padding: 50% !important;}

	/* Padding Top (lg)*/
	.pt100-lg {padding-top: 100px !important;}
	.pt90-lg {padding-top: 90px !important;}
	.pt80-lg {padding-top: 80px !important;}
	.pt70-lg {padding-top: 70px !important;}
	.pt60-lg {padding-top: 60px !important;}
	.pt50-lg {padding-top: 50px !important;}
	.pt45-lg {padding-top: 45px !important;}
	.pt40-lg {padding-top: 40px !important;}
	.pt35-lg {padding-top: 35px !important;}
	.pt30-lg {padding-top: 30px !important;}
	.pt25-lg {padding-top: 25px !important;}
	.pt20-lg {padding-top: 20px !important;}
	.pt0-lg {padding-top: 0px !important;}
	.pt-50-lg {padding-top: -50px !important;}
	.pt-45-lg {padding-top: -45px !important;}
	.pt-40-lg {padding-top: -40px !important;}
	.pt-35-lg {padding-top: -35px !important;}
	.pt-30-lg {padding-top: -30px !important;}
	.pt-25-lg {padding-top: -25px !important;}
	.pt-20-lg {padding-top: -20px !important;}
	.pt10p-lg {padding-top: 10% !important;}
	.pt20p-lg {padding-top: 20% !important;}
	.pt30p-lg {padding-top: 30% !important;}
	.pt40p-lg {padding-top: 40% !important;}
	.pt50p-lg {padding-top: 50% !important;}

	/* Padding Right (lg)*/
	.pr100-lg {padding-right: 100px !important;}
	.pr90-lg {padding-right: 90px !important;}
	.pr80-lg {padding-right: 80px !important;}
	.pr70-lg {padding-right: 70px !important;}
	.pr60-lg {padding-right: 60px !important;}
	.pr50-lg {padding-right: 50px !important;}
	.pr45-lg {padding-right: 45px !important;}
	.pr40-lg {padding-right: 40px !important;}
	.pr35-lg {padding-right: 35px !important;}
	.pr30-lg {padding-right: 30px !important;}
	.pr25-lg {padding-right: 25px !important;}
	.pr20-lg {padding-right: 20px !important;}
	.pr0-lg {padding-right: 0px !important;}
	.pr-50-lg {padding-right: -50px !important;}
	.pr-45-lg {padding-right: -45px !important;}
	.pr-40-lg {padding-right: -40px !important;}
	.pr-35-lg {padding-right: -35px !important;}
	.pr-30-lg {padding-right: -30px !important;}
	.pr-25-lg {padding-right: -25px !important;}
	.pr-20-lg {padding-right: -20px !important;}
	.pr10p-lg {padding-right: 10% !important;}
	.pr20p-lg {padding-right: 20% !important;}
	.pr30p-lg {padding-right: 30% !important;}
	.pr40p-lg {padding-right: 40% !important;}
	.pr50p-lg {padding-right: 50% !important;}

	/* Padding Bottom (lg)*/
	.pb100-lg {padding-bottom: 100px !important;}
	.pb90-lg {padding-bottom: 90px !important;}
	.pb80-lg {padding-bottom: 80px !important;}
	.pb70-lg {padding-bottom: 70px !important;}
	.pb60-lg {padding-bottom: 60px !important;}
	.pb50-lg {padding-bottom: 50px !important;}
	.pb45-lg {padding-bottom: 45px !important;}
	.pb40-lg {padding-bottom: 40px !important;}
	.pb35-lg {padding-bottom: 35px !important;}
	.pb30-lg {padding-bottom: 30px !important;}
	.pb25-lg {padding-bottom: 25px !important;}
	.pb20-lg {padding-bottom: 20px !important;}
	.pb0-lg {padding-bottom: 0px !important;}
	.pb-50-lg {padding-bottom: -50px !important;}
	.pb-45-lg {padding-bottom: -45px !important;}
	.pb-40-lg {padding-bottom: -40px !important;}
	.pb-35-lg {padding-bottom: -35px !important;}
	.pb-30-lg {padding-bottom: -30px !important;}
	.pb-25-lg {padding-bottom: -25px !important;}
	.pb-20-lg {padding-bottom: -20px !important;}
	.pb10p-lg {padding-bottom: 10% !important;}
	.pb20p-lg {padding-bottom: 20% !important;}
	.pb30p-lg {padding-bottom: 30% !important;}
	.pb40p-lg {padding-bottom: 40% !important;}
	.pb50p-lg {padding-bottom: 50% !important;}

	/* Padding Left (lg)*/
	.pl100-lg {padding-left: 100px !important;}
	.pl90-lg {padding-left: 90px !important;}
	.pl80-lg {padding-left: 80px !important;}
	.pl70-lg {padding-left: 70px !important;}
	.pl60-lg {padding-left: 60px !important;}
	.pl50-lg {padding-left: 50px !important;}
	.pl45-lg {padding-left: 45px !important;}
	.pl40-lg {padding-left: 40px !important;}
	.pl35-lg {padding-left: 35px !important;}
	.pl30-lg {padding-left: 30px !important;}
	.pl25-lg {padding-left: 25px !important;}
	.pl20-lg {padding-left: 20px !important;}
	.pl0-lg {padding-left: 0px !important;}
	.pl-50-lg {padding-left: -50px !important;}
	.pl-45-lg {padding-left: -45px !important;}
	.pl-40-lg {padding-left: -40px !important;}
	.pl-35-lg {padding-left: -35px !important;}
	.pl-30-lg {padding-left: -30px !important;}
	.pl-25-lg {padding-left: -25px !important;}
	.pl-20-lg {padding-left: -20px !important;}
	.pl10p-lg {padding-left: 10% !important;}
	.pl20p-lg {padding-left: 20% !important;}
	.pl30p-lg {padding-left: 30% !important;}
	.pl40p-lg {padding-left: 40% !important;}
	.pl50p-lg {padding-left: 50% !important;}   
}