/*WIDTHS*/
.width-100p {width: 100%;}
.width-90p {width: 90%;}
.width-80p {width: 80%;}
.width-70p {width: 70%;}
.width-60p {width: 60%;}
.width-50p {width: 50%;}
.width-45p {width: 45%;}
.width-40p {width: 40%;}
.width-35p {width: 35%;}
.width-30p {width: 30%;}
.width-25p {width: 25%;}
.width-20p {width: 20%;}
.width-15p {width: 15%;}
.width-10p {width: 10%;}

/*HEIGHT*/
.height-1000 {min-height: 1000px!important;}
.height-950 {min-height: 950px!important;}
.height-900 {min-height: 900px!important;}
.height-850 {min-height: 850px!important;}
.height-800 {min-height: 800px!important;}
.height-750 {min-height: 750px!important;}
.height-700 {min-height: 700px!important;}
.height-650 {min-height: 650px!important;}
.height-600 {min-height: 600px!important;}
.height-550 {min-height: 550px!important;}
.height-500 {min-height: 500px!important;}
.height-450 {min-height: 450px!important;}
.height-400 {min-height: 400px!important;}
.height-350 {min-height: 350px!important;}
.height-300 {min-height: 300px!important;}
.height-250 {min-height: 250px!important;}
.height-200 {min-height: 200px!important;}
.height-150 {min-height: 150px!important;}
.height-100 {min-height: 100px!important;}
.height-50 {min-height: 50px!important;}

.full_div {
  width: 100%!important;
  height: 100%!important;
}

/*Tablet Styles (Portrait) (sm)*/
@media only screen and (min-width: 600px) {
	/*WIDTHS*/
	.width-100p-sm {width: 100%;}
	.width-90p-sm {width: 90%;}
	.width-80p-sm {width: 80%;}
	.width-70p-sm {width: 70%;}
	.width-60p-sm {width: 60%;}
	.width-50p-sm {width: 50%;}
	.width-45p-sm {width: 45%;}
	.width-40p-sm {width: 40%;}
	.width-35p-sm {width: 35%;}
	.width-30p-sm {width: 30%;}
	.width-25p-sm {width: 25%;}
	.width-20p-sm {width: 20%;}
	.width-15p-sm {width: 15%;}
	.width-10p-sm {width: 10%;}

	/*HEIGHT*/
	.height-1000-sm {min-height: 1000px!important;}
	.height-950-sm {min-height: 950px!important;}
	.height-900-sm {min-height: 900px!important;}
	.height-850-sm {min-height: 850px!important;}
	.height-800-sm {min-height: 800px!important;}
	.height-750-sm {min-height: 750px!important;}
	.height-700-sm {min-height: 700px!important;}
	.height-650-sm {min-height: 650px!important;}
	.height-600-sm {min-height: 600px!important;}
	.height-550-sm {min-height: 550px!important;}
	.height-500-sm {min-height: 500px!important;}
	.height-450-sm {min-height: 450px!important;}
	.height-400-sm {min-height: 400px!important;}
	.height-350-sm {min-height: 350px!important;}
	.height-300-sm {min-height: 300px!important;}
	.height-250-sm {min-height: 250px!important;}
	.height-200-sm {min-height: 200px!important;}
	.height-150-sm {min-height: 150px!important;}
	.height-100-sm {min-height: 100px!important;}
	.height-50-sm {min-height: 50px!important;}	
}

/*Tablet Styles (Landscape) (md)*/
@media only screen and (min-width: 992px) {
	/*WIDTHS*/
	.width-100p-md {width: 100%;}
	.width-90p-md {width: 90%;}
	.width-80p-md {width: 80%;}
	.width-70p-md {width: 70%;}
	.width-60p-md {width: 60%;}
	.width-50p-md {width: 50%;}
	.width-45p-md {width: 45%;}
	.width-40p-md {width: 40%;}
	.width-35p-md {width: 35%;}
	.width-30p-md {width: 30%;}
	.width-25p-md {width: 25%;}
	.width-20p-md {width: 20%;}
	.width-15p-md {width: 15%;}
	.width-10p-md {width: 10%;}

	/*HEIGHT*/
	.height-1000-md {min-height: 1000px!important;}
	.height-950-md {min-height: 950px!important;}
	.height-900-md {min-height: 900px!important;}
	.height-850-md {min-height: 850px!important;}
	.height-800-md {min-height: 800px!important;}
	.height-750-md {min-height: 750px!important;}
	.height-700-md {min-height: 700px!important;}
	.height-650-md {min-height: 650px!important;}
	.height-600-md {min-height: 600px!important;}
	.height-550-md {min-height: 550px!important;}
	.height-500-md {min-height: 500px!important;}
	.height-450-md {min-height: 450px!important;}
	.height-400-md {min-height: 400px!important;}
	.height-350-md {min-height: 350px!important;}
	.height-300-md {min-height: 300px!important;}
	.height-250-md {min-height: 250px!important;}
	.height-200-md {min-height: 200px!important;}
	.height-150-md {min-height: 150px!important;}
	.height-100-md {min-height: 100px!important;}
	.height-50-md {min-height: 50px!important;}	 
}

/*Desktop Styles (lg)*/
@media only screen and (min-width: 1200px) {
	/*WIDTHS*/
	.width-100p-lg {width: 100%;}
	.width-90p-lg {width: 90%;}
	.width-80p-lg {width: 80%;}
	.width-70p-lg {width: 70%;}
	.width-60p-lg {width: 60%;}
	.width-50p-lg {width: 50%;}
	.width-45p-lg {width: 45%;}
	.width-40p-lg {width: 40%;}
	.width-35p-lg {width: 35%;}
	.width-30p-lg {width: 30%;}
	.width-25p-lg {width: 25%;}
	.width-20p-lg {width: 20%;}
	.width-15p-lg {width: 15%;}
	.width-10p-lg {width: 10%;}

	/*HEIGHT*/
	.height-1000-lg {min-height: 1000px!important;}
	.height-950-lg {min-height: 950px!important;}
	.height-900-lg {min-height: 900px!important;}
	.height-850-lg {min-height: 850px!important;}
	.height-800-lg {min-height: 800px!important;}
	.height-750-lg {min-height: 750px!important;}
	.height-700-lg {min-height: 700px!important;}
	.height-650-lg {min-height: 650px!important;}
	.height-600-lg {min-height: 600px!important;}
	.height-550-lg {min-height: 550px!important;}
	.height-500-lg {min-height: 500px!important;}
	.height-450-lg {min-height: 450px!important;}
	.height-400-lg {min-height: 400px!important;}
	.height-350-lg {min-height: 350px!important;}
	.height-300-lg {min-height: 300px!important;}
	.height-250-lg {min-height: 250px!important;}
	.height-200-lg {min-height: 200px!important;}
	.height-150-lg {min-height: 150px!important;}
	.height-100-lg {min-height: 100px!important;}
	.height-50-lg {min-height: 50px!important;}	   
}